html,
body {
    margin: 0;
    height: 100%;
    background: #0f0f0f;
    color: #ffffff;
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2cm;
}

.aplecatalexandra {
    text-align: center;
    font-size: 36px;
}

#counter {
    font-size: 40px;
    text-align: center;
}